apisix:
  node_listen: 9080
  enable_ipv6: false
  enable_admin: true
  admin_key:
    - name: admin
      key: edd1c9f034335f136f87ad84b625c8f1
      role: admin

  proxy:
    proxy_read_timeout: 1200
    proxy_send_timeout: 1200
    proxy_connect_timeout: 10

deployment:
  role: traditional
  role_traditional:
    config_provider: etcd
  admin:
    allow_admin:
      - 0.0.0.0/0
    admin_listen:
      port: 9180
  etcd:
    host:
      - "http://dx-etcd:2379"
    prefix: "/apisix"
    timeout: 30

plugin_attr:
  prometheus:
    enable_export_server: false
